$width: 1140px;
$min-width: 768px;
$gutter: 30px;
$column: 17px;
$padding: 21px;
$columns: 24;
$abswidth: $width - $padding * 2;
$margin: ($gutter / $abswidth) * 100%;

.container { 
	max-width: $width;
	padding: 0 $padding;
	margin: 0 auto;
	
	.row, .col, .clearfix {
		@include pie-clearfix;
	}
	
	.row + .row {
		margin-top: 3em;
	}
	
	.col { 
		display: block;
		float:left;
		width: 100%;
		
		img {
			max-width: 100%;
			height: auto;
		}
	}
	
	@media ( min-width : $min-width ) {
		.col {
			margin-left: $margin;
		}
	}
	
	.col:first-child, .col.first-child {
		margin-left: 0;
	}
	
	@media ( min-width : $min-width ) {
		@for $i from 1 through $columns {
			.span#{$i} { width: ($column * $i + $gutter * ($i - 1)) / $abswidth * 100%; }
			.push#{$i} { margin-left: ($column * $i + $gutter * ($i + 1)) / $abswidth * 100%; &:first-child, &.first-child { margin-left: ($column * $i + $gutter * $i) / $abswidth * 100%; } }
		}	
	}
}
