h1 {
	font-family: 'Merriweather', Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-size: 59px;
	font-size: (59 / $rem-units)+rem;
	line-height: 1.1;
	margin-bottom: $font-base+px;
	margin-bottom: ($font-base / $rem-units)+rem;
}

h2 {
	font-size: 47px;
	font-size: (47 / $rem-units)+rem;
	line-height: 1.15;
	margin-bottom: $font-base+px;
	margin-bottom: ($font-base / $rem-units)+rem;
	font-weight: 700;
}

h3, .feature {
	font-size: 23px;
	font-size: (23 / $rem-units)+rem;
	line-height: 1.3;
	margin-bottom: $font-base+px;
	margin-bottom: ($font-base / $rem-units)+rem;
}

h4, blockquote, .lede {
	font-size: 18px;
	font-size: (18 / $rem-units)+rem;
	line-height: 1.4;
	margin-bottom: $font-base+px;
	margin-bottom: ($font-base / $rem-units)+rem;
}

h5, p {
	margin-bottom: $font-base+px;
	margin-bottom: ($font-base / $rem-units)+rem;
}

h6, small {
	font-size: 13px;
	font-size: (13 / $rem-units)+rem;
	margin-bottom: $font-base+px;
	margin-bottom: ($font-base / $rem-units)+rem;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

blockquote {
	font-weight: bold;
	font-style: italic;
	padding: 0 3em;
	position: relative;
	
	&:before, &:after {
		content: '“';
		position: absolute;
		font-size: 5em;
		line-height: 0.4;
		left: 0;
		top: 0;
	}
	
	&:after {
		content: '”';
		left: auto;
		top: auto;
		right: 0;
		bottom: -0.35em;
	}
}

.text-center, .aligncenter {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}